{% for item in matchingResults %}
    <tr>
        <td>
            {{ item.licenseCode | length > 40 ? item.licenseCode | slice(0, 40) ~ '...' : item.licenseCode }}
        </td>
        <td>{{ item.licensedIp }}</td>
        <td>{{ item.licensedDomain }}</td>

        <td class="text-center">
            <div class="btn-group">
                <a href="{{ url('license.index/edit', {code: item.licenseCode}) }}" class="btn btn-sm btn-primary">
                    <i class="fas fa-pencil-alt"></i>
                </a>
            </div>
        </td>
    </tr>
{% endfor %}